<div style="display:none;">
	{% include 'svg/adr.svg' %}
	{% include 'svg/arrow-left.svg' %}
	{% include 'svg/arrow-right.svg' %}
	{% include 'svg/arrow.svg' %}
	{% include 'svg/basket-header.svg' %}
	{% include 'svg/basket.svg' %}
	{% include 'svg/calendar.svg' %}
	{% include 'svg/callme.svg' %}
	{% include 'svg/comment.svg' %}
	{% include 'svg/dealer.svg' %}
	{% include 'svg/equipment.svg' %}
	{% include 'svg/favorites.svg' %}
	{% include 'svg/fb.svg' %}
	{% include 'svg/google.svg' %}
	{% include 'svg/input-phone.svg' %}
	{% include 'svg/installation.svg' %}
	{% include 'svg/instogram.svg' %}
	{% include 'svg/login.svg' %}
	{% include 'svg/mail.svg' %}
	{% include 'svg/phone.svg' %}
	{% include 'svg/search.svg' %}
	{% include 'svg/sertificate.svg' %}
	{% include 'svg/storage.svg' %}
	{% include 'svg/submit.svg' %}
	{% include 'svg/support.svg' %}
	{% include 'svg/telegram.svg' %}
	{% include 'svg/timing.svg' %}
	{% include 'svg/tw.svg' %}
	{% include 'svg/user.svg' %}
	{% include 'svg/vk.svg' %}
	{% include 'svg/whatsapp.svg' %}
	{% include 'svg/writeme.svg' %}
	{% include 'svg/home.svg' %}
	{% include 'svg/clear.svg' %}
	{% include 'svg/close.svg' %}
	{% include 'svg/check.svg' %}
	{% include 'svg/time.svg' %}
	{% include 'svg/checked.svg' %}
	{% include 'svg/map.svg' %}
	{% include 'svg/schedule.svg' %}
	{% include 'svg/doc.svg' %}
	{% include 'svg/general-doc.svg' %}
	{% include 'svg/exit.svg' %}
	{% include 'svg/copy.svg' %}
	{% include 'svg/info.svg' %}
	{% include 'svg/delivered.svg' %}
	{% include 'svg/price.svg' %}
	{% include 'svg/history.svg' %}
	{% include 'svg/edit.svg' %}
	{% include 'svg/download.svg' %}
	{% include 'svg/total.svg' %}
	{% include 'svg/delivery-company.svg' %}
	{% include 'svg/delivery-car.svg' %}
	{% include 'svg/delivery-address.svg' %}
	{% include 'svg/delivery-pickup.svg' %}
	{% include 'svg/payment-cash.svg' %}
	{% include 'svg/payment-bill.svg' %}
	{% include 'svg/payment-receipt.svg' %}
	{% include 'svg/payment-bank.svg' %}
</div>