.header__contacts{
	float:right;
	width: 250px;
	padding: 25px 0 20px;
	line-height: 25px;
	font-family: 'Open Sans', sans-serif;
}

.header__contacts-phone{
	font-weight: 600;
	font-size: 18px;
	padding-left: 30px;
	position: relative;
}
.header__contacts-phone span{
	font-weight: 400;
}

.header__contacts-mail{
	font-size: 14px;
	padding-left: 30px;
	position: relative;
}

.header__contacts-mail a{
	color: #000;
	text-decoration: none;
}

.header__contacts-phone:before,
.header__contacts-mail:before{
	content: "";
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
}

.header__contacts-phone:before{
	background: #f00;
}
.header__contacts-mail:before{
	background: #f0f;
}

.header__info{
	float:left;
	width: 250px;
	font-weight: 600;
	font-size: 11px;
	line-height: 1.64;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 0.25;
	padding: 35px 0 25px;
}

.header__logo{
	padding: 30px 270px 25px;
	text-align: center;
}