{% set header = {
    "adr": "г.Екатеринбург, ул.Волховская 20, офис 207",
    "mail": "office@tvim.ru",
    "phone": "+7 (343) 383-11-07, 8 (800) 500-76-79",
    "menu": [
		{
			"title": "О компании",
			"link": "#"
		},
		{
			"title": "Сервис",
			"link": "#"
		},
		{
			"title": "Отзывы",
			"link": "#"
		},
		{
			"title": "Контакты",
			"link": "#"
		},
		{
			"title": "Сертификаты",
			"link": "#"
		}
    ],
    "sotial": [
    	{
    		"type": "vk",
    		"link": "#"
    	},
    	{
    		"type": "tw",
    		"link": "#"
    	},
    	{
    		"type": "google",
    		"link": "#"
    	},
    	{
    		"type": "fb",
    		"link": "#"
    	},
    	{
    		"type": "instogram",
    		"link": "#"
    	},
    	{
    		"type": "whatsapp",
    		"link": "#"
    	},
    	{
    		"type": "telegram",
    		"link": "#"
    	}
    ],
    "catalog": [
    	{
	    	"link": "#",
	    	"title": "Оборудование для резки металла",
	    	"left": [
	    		{
	    			"link": "#",
	    			"title": "Установки гидроабразивной резки PTV (Чехия)",
    				"list": [
    					{
    						"link": "#",
    						"title": "Станки ЧПУ гидроабразивной резки"
    					},
    					{
    						"link": "#",
    						"title": "Насосы высокого давления",
    						"list": [
    							{
    								"link": "#",
    								"title": "Насосы с потребляемой мощностью 11 кВт"
    							},
    							{
    								"link": "#",
    								"title": "Насосы с потребляемой мощностью 22 кВт"
    							},
    							{
    								"link": "#",
    								"title": "Насосы с потребляемой мощностью 37 кВт"
    							},
    							{
    								"link": "#",
    								"title": "Насосы с потребляемой мощностью 55 кВт"
    							},
    							{
    								"link": "#",
    								"title": "Насосы с потребляемой мощностью 75 кВт"
    							},
    							{
    								"link": "#",
    								"title": "Насосы с рабочим давлением 6 200 бар"
    							},
    							{
    								"link": "#",
    								"title": "Насосы с рабочим давлением 6 480 бар"
    							}
    						]
    					},
    					{
    						"link": "#",
    						"title": "Дополнительное оборудование для установок гидроабразивной резки"
    					},
    					{
    						"link": "#",
    						"title": "Система восстановления абразива",
    						"list": [
    							{
    								"link": "#",
    								"title": "Модель RAMS V1®"
    							},
    							{
    								"link": "#",
    								"title": "Модель RAMS V2®"
    							},
    							{
    								"link": "#",
    								"title": "Модель RAMS V3®"
    							},
    							{
    								"link": "#",
    								"title": "Компактная Модель RAMS 2®"
    							}
    						]
    					},
    					{
    						"link": "#",
    						"title": "Система управления"
    					}
    				]
	    		}
	    	],
	    	"right": [
	    		{
	    			"link": "#",
	    			"title": "Установки лазерной резки UNIMACH (Россия)",
    				"list": [
    					{
    						"link": "#",
    						"title": "Станки ЧПУ лазерной резки"
    					},
    					{
    						"link": "#",
    						"title": "Раскройные комплексы UNIMACH"
    					},
    					{
    						"link": "#",
    						"title": "Модули резки труб"
    					},
    					{
    						"link": "#",
    						"title": "Фильтро-вентиляционные установки"
    					},
    					{
    						"link": "#",
    						"title": "Оборудование снятое с производства"
    					}
    				]
	    		},
	    		{
	    			"link": "#",
	    			"title": "Станки плазменной резки металла"
	    		},
	    		{
	    			"link": "#",
	    			"title": "Токарно-фрезерные станки"
	    		},
	    		{
	    			"link": "#",
	    			"title": "Программное обеспечение для оборудования для резки металла"
	    		}
	    	]
	    },
	    {
	    	"link": "#",
	    	"title": "Оригинальные запасные части H2O JET, PTV, UNIMACH",
	    	"left": [
	    		{
	    			"link": "#",
	    			"title": "Установки гидроабразивной резки PTV (Чехия)",
    				"list": [
    					{
    						"link": "#",
    						"title": "Станки ЧПУ гидроабразивной резки"
    					},
    					{
    						"link": "#",
    						"title": "Насосы высокого давления"
    					},
    					{
    						"link": "#",
    						"title": "Дополнительное оборудование для установок гидроабразивной резки"
    					},
    					{
    						"link": "#",
    						"title": "Система восстановления абразива"
    					},
    					{
    						"link": "#",
    						"title": "Система управления"
    					}
    				]
	    		}
	    	],
	    	"right": [
	    		{
	    			"link": "#",
	    			"title": "Установки лазерной резки UNIMACH (Россия)"
	    		},
	    		{
	    			"link": "#",
	    			"title": "Станки плазменной резки металла"
	    		},
	    		{
	    			"link": "#",
	    			"title": "Токарно-фрезерные станки"
	    		},
	    		{
	    			"link": "#",
	    			"title": "Программное обеспечение для оборудования для резки металла"
	    		}
	    	]
	    },
	    {
	    	"link": "#",
	    	"title": "Расходные материалы для установок лазерной резки",
	    	"left": [
	    		{
	    			"link": "#",
	    			"title": "Установки гидроабразивной резки PTV (Чехия)",
    				"list": [
    					{
    						"link": "#",
    						"title": "Станки ЧПУ гидроабразивной резки"
    					},
    					{
    						"link": "#",
    						"title": "Насосы высокого давления"
    					},
    					{
    						"link": "#",
    						"title": "Дополнительное оборудование для установок гидроабразивной резки"
    					},
    					{
    						"link": "#",
    						"title": "Система восстановления абразива"
    					},
    					{
    						"link": "#",
    						"title": "Система управления"
    					}
    				]
	    		}
	    	],
	    	"right": [
	    		{
	    			"link": "#",
	    			"title": "Установки лазерной резки UNIMACH (Россия)"
	    		},
	    		{
	    			"link": "#",
	    			"title": "Станки плазменной резки металла"
	    		},
	    		{
	    			"link": "#",
	    			"title": "Токарно-фрезерные станки"
	    		},
	    		{
	    			"link": "#",
	    			"title": "Программное обеспечение для оборудования для резки металла"
	    		}
	    	]
	    },
	    {
	    	"link": "#",
	    	"title": "Запасные части для насосов BFT, KMT, WJS",
	    	"left": [
	    		{
	    			"link": "#",
	    			"title": "Установки гидроабразивной резки PTV (Чехия)",
    				"list": [
    					{
    						"link": "#",
    						"title": "Станки ЧПУ гидроабразивной резки"
    					},
    					{
    						"link": "#",
    						"title": "Насосы высокого давления"
    					},
    					{
    						"link": "#",
    						"title": "Дополнительное оборудование для установок гидроабразивной резки"
    					},
    					{
    						"link": "#",
    						"title": "Система восстановления абразива"
    					},
    					{
    						"link": "#",
    						"title": "Система управления"
    					}
    				]
	    		}
	    	],
	    	"right": [
	    		{
	    			"link": "#",
	    			"title": "Установки лазерной резки UNIMACH (Россия)"
	    		},
	    		{
	    			"link": "#",
	    			"title": "Станки плазменной резки металла"
	    		},
	    		{
	    			"link": "#",
	    			"title": "Токарно-фрезерные станки"
	    		},
	    		{
	    			"link": "#",
	    			"title": "Программное обеспечение для оборудования для резки металла"
	    		}
	    	]
	    },
	    {
	    	"link": "#",
	    	"title": "Сервис и техническая поддержка",
	    	"left": [
	    		{
	    			"link": "#",
	    			"title": "Установки гидроабразивной резки PTV (Чехия)",
    				"list": [
    					{
    						"link": "#",
    						"title": "Станки ЧПУ гидроабразивной резки"
    					},
    					{
    						"link": "#",
    						"title": "Насосы высокого давления"
    					},
    					{
    						"link": "#",
    						"title": "Дополнительное оборудование для установок гидроабразивной резки"
    					},
    					{
    						"link": "#",
    						"title": "Система восстановления абразива"
    					},
    					{
    						"link": "#",
    						"title": "Система управления"
    					}
    				]
	    		}
	    	],
	    	"right": [
	    		{
	    			"link": "#",
	    			"title": "Установки лазерной резки UNIMACH (Россия)"
	    		},
	    		{
	    			"link": "#",
	    			"title": "Станки плазменной резки металла"
	    		},
	    		{
	    			"link": "#",
	    			"title": "Токарно-фрезерные станки"
	    		},
	    		{
	    			"link": "#",
	    			"title": "Программное обеспечение для оборудования для резки металла"
	    		}
	    	]
	    }
    ]
}%}

<div class="header">
	<div class="header__top">
		<div class="container header__container-top">
			<div class="header__address">
				<svg><use xlink:href="#adr" /></svg>
				{{ header.adr }}
			</div>
			<div class="header__mail">
				<a href="mailto:{{ header.mail }}" class="header__mail-link"><svg><use xlink:href="#mail" /></svg>{{ header.mail }}</a>
			</div>
			<ul class="header__sotial">
				{% for sotial in header.sotial %}
					<li class="header__sotial-item">
						<a href="{{ sotial.link }}" class="header__sotial-link"><svg class="header__sotial-icon header__sotial-icon_type_{{ sotial.type }}"><use xlink:href="#{{ sotial.type }}" /></svg></a>
					</li>
				{% endfor %}
			</ul>
			<div class="header__phone"><svg><use xlink:href="#phone" /></svg>{{ header.phone }}</div>
			<div class="header__button">
				<a href="#" class="header__btn">Заказать звонок</a>
			</div>
		</div>
	</div>
	<div class="container header__container">
		<div class="header__logo">
			{% include 'logo/logo.html' %}
		</div>
		<div class="header__catalog">
			<a href="#" class="header__catalog-link"><span class="header__catalog-icon"></span>Каталог</a>
			<div class="header__catalog-menu">
				<ul class="header__list">
					{% for item in header.catalog %}
						<li class="header__list-item">
							<a href="{{ item.link }}" class="header__list-link">{{ item.title }}</a>
						</li>
					{% endfor%}
				</ul>
				<div class="header__submenu">
					{% for item in header.catalog %}
						<div class="header__submenu-wrapper">
							<div class="header__submenu-left">
								{% if item.left %}
									<ul class="header__submenu-list">
										{% for left in item.left %}
											<li class="header__submenu-item">
												<a href="{{ left.link }}" class="header__submenu-link">{{ left.title }}</a>
												{% if left.list %}
													<ul class="header__duoble">
														{% for submenu in left.list %}
															<li class="header__duoble-item">
																<a href="{{ submenu.link }}" class="header__duoble-link">{{ submenu.title }}</a>
																{% if submenu.list %}
																	<ul class="header__duobleSubmenu">
																		{% for double in submenu.list %}
																			<li class="header__duobleSubmenu-item">
																				<a href="{{ double.link }}" class="header__duobleSubmenu-link">{{ double.title }}</a>
																			</li>
																		{% endfor %}
																	</ul>
																{% endif %}
															</li>
														{% endfor %}
													</ul>
												{% endif %}
											</li>
										{% endfor%}
									</ul>
								{% endif %}
							</div>
							<div class="header__submenu-right">
								{% if item.right %}
									<ul class="header__submenu-list">
										{% for right in item.right %}
											<li class="header__submenu-item">
												<a href="{{ right.link }}" class="header__submenu-link">{{ right.title }}</a>
												{% if right.list %}
													<ul class="header__duoble">
														{% for submenu in right.list %}
															<li class="header__duoble-item">
																<a href="{{ submenu.link }}" class="header__duoble-link">{{ submenu.title }}</a>
																{% if submenu.list %}
																	<ul class="header__duobleSubmenu">
																		{% for double in submenu.list %}
																			<li class="header__duobleSubmenu-item">
																				<a href="{{ double.link }}" class="header__duobleSubmenu-link">{{ double.title }}</a>
																			</li>
																		{% endfor %}
																	</ul>
																{% endif %}
															</li>
														{% endfor %}
													</ul>
												{% endif %}
											</li>
										{% endfor%}
									</ul>
								{% endif %}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<ul class="header__menu">
			{% for menu in header.menu %}
				<li class="header__menu-item">
					<a href="{{ menu.link }}" class="header__menu-link">{{ menu.title }}</a>
				</li>
			{% endfor %}
		</ul>
		<div class="header__profile">
			<a href="#" class="header__search">
				<svg><use xlink:href="#search" /></svg>
				Поиск
			</a>
			<a href="#" class="header__basket">
				<svg><use xlink:href="#basket-header" /></svg>
				Корзина
			</a>
			<a href="#" class="header__login">
				<svg><use xlink:href="#login" /></svg>
				Войти
			</a>
		</div>
	</div>
</div>