.header{
	&__top{
		background: @top;
		color: @color5;
		font: 13px/24px 'Roboto Condensed', sans-serif; 
	}

	&__container{
		display: flex;
		padding: 20px 0;
		align-items: center;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		position: relative;

		&-top{
			display: flex;
			padding: 6px 0;
			align-items: center;
		}
	}

	&__address{
		display: flex;
		align-items: center;
		flex: 1 1;

		svg{
			margin-right: 10px;
			width: 14px;
			height: 23px;
		}
	}

	&__mail-link{
		color: @color5;
		display: flex;
		align-items: center;
		text-decoration: underline;

		&:hover{
			text-decoration: none;
		}

		svg{
			margin-right: 10px;
			width: 19px;
			height: 15px;
		}
	}

	&__sotial{
		margin: 0 40px;
		padding: 0;
		list-style: none;
		display: flex;
		align-items: center;

		&-item{
			margin:0 5px;
		}

		&-link{
			color: @color5;
			display: flex;
			align-items: center;

			&:hover{
				opacity: 0.8;
			}
		}

		&-icon{
			&_type_vk{
				width: 23px;
				height: 14px;
			} 

			&_type_tw{
				width: 21px;
				height: 17px;
			} 

			&_type_google{
				width: 25px;
				height: 16px;
			} 

			&_type_fb{
				width: 12px;
				height: 19px;
			} 

			&_type_instogram{
				width: 17px;
				height: 17px;
			} 

			&_type_whatsapp{
				width: 19px;
				height: 18px;
			} 

			&_type_telegram{
				width: 20px;
				height: 17px;				
			}
		}
	}

	&__phone{
		font-size: 15px;
		display: flex;
		align-items: center;
		margin-right: 20px;

		svg{
			margin-right: 10px;
			width: 19px;
			height: 19px;
		}
	}

	&__btn{
		border: 1px solid @brown;
		padding: 2px 12px 0;
		text-transform: uppercase;
		color: @brown;
		line-height: 22px;
		border-radius: 5px;
		display: block;

		&:hover{
			text-decoration: none;
			color: @brown-light;
			border-color: @brown-light;
		}
	}

	&__logo{
		width: 157px;
	}

	&__catalog{
		margin: 0 15px;

		&-link{
			display: inline-block;
			position: relative;
			padding: 15px 40px 15px 60px;
			font-size: 14px;
			font-weight: 600;
			color: @color1;

			.main &{
				color: #fff;
			}

			&:hover{
				text-decoration: none;
			}
		}

		&-icon{
			width: 20px;
			height: 3px;
			position: absolute;
			left: 27px;
			top:50%;
			transform: translateY(-50%);
			background: @color1;
			border-radius: 3px;

			.main &{
				background: #fff;
			}

			&:before,
			&:after{
				content: '';
				height: 3px;
				position: absolute;
				background: @color1;
				border-radius: 3px;
				left: 0;
				top: 0;
				bottom: 0;

				.main &{
					background: #fff;
				}
			}

			&:before{
				margin-top: -8px;
				width: 15px;
			}

			&:after{
				margin-top: 8px;
				width: 10px;
			}
		}

		&:hover &-link{
			background: #fff;
			color: @color2;
		}

		&:hover &-icon{
			background: @color2;

			&:before,
			&:after{
				background: @color2;
			}
		}

		&-menu{
			position: absolute;
			left: 0;
			right: 0;
			display: none;
			z-index: 1000;
		}

		&:hover &-menu{
			display: flex;
		}
	}

	&__list{
		flex: 0 0 330px;
		width: 330px;
		margin: 0;
		padding: 10px 0;
		background: #fff;
		list-style: none;
		position: relative;

		&-link{
			display: block;
			color: @color2;
			padding: 10px 50px 10px 25px;
			font-weight: 600;
			line-height: 20px;
			position: relative;

			&:after{
				content: '';
				position: absolute;
				bottom: 0;
				height: 1px;
				left: 25px;
				right: 25px;
				background: @menu-border;
			}

			&:before{
				content: '';
				position: absolute;
				transform-origin: center;
				top: 50%;
				right: 20px;
				width: 5px;
				height: 5px;
				border-right: 1px solid @menu-border;
				border-bottom: 1px solid @menu-border;
				transform: translateX(-50%) rotate(-45deg);
			}

			&.hover{
				text-decoration: none;
				background: @menu;
			}
		}
	}

	&__submenu{
		flex: 1 1;
		line-height: 1.2;

		&-wrapper{
			background: @menu;
			display: none;
			height: 100%;
			box-sizing: border-box;
			padding: 25px 10px 10px;

			&.hover{
				display: flex;
			}
		}

		&-left,
		&-right{
			flex: 1 1 50%;
			padding: 0 20px;
		}

		&-list{
			list-style: none;
			margin: 0;
			padding: 0;
		}

		&-item{
			margin-bottom: 30px;
		}

		&-link{
			color: @color2;
			font-weight: 600;
		}
	}

	&__duoble{
		margin: 15px 0 0;
		padding: 0;
		list-style: none;

		&-item{
			margin-bottom: 12px;
			padding-left: 12px;
			position: relative;

			&:before{
				content: '';
				position: absolute;
				top: 8px;
				left: 0;
				height: 1px;
				width: 6px;
				background: @color2;
			}
		}

		&-link{
			color: @color2;
			font-size: 13px;
		}
	}

	&__duobleSubmenu{
		margin: 12px 0 0;
		padding: 0 0 0 40px;
		list-style: none;

		&-item{
			margin-bottom: 10px;
		}

		&-link{
			color: @doubleSubmenu;
			font-size: 13px;
		}
	}

	&__menu{
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		align-items: center;
		font-size: 13px;
		font-weight: 300;

		&-item{
			margin: 0 15px;
		}

		&-link{
			color: @color1;

			.main &{
				color: #fff;
			}
		}
	}

	&__profile{
		flex: 1 1;
		display: flex;
		justify-content: flex-end;
	}

	&__search,
	&__basket,
	&__login{
		padding: 0 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: @color1;
		font-size: 12px;

		.main &{
			color: @color5;
		}

		&:hover{
			text-decoration: none;
			opacity: 0.8;
		}

		&:first-child{
			padding-left: 10px;
		}

		&:last-child{
			padding-right: 10px;
		}
	}

	&__search svg{
		width: 26px;
		height: 26px;
	}

	&__basket{
		position: relative;

		svg{
			width: 27px;
			height: 26px;
		}

		&-price{
			font-weight: 700;
		}

		&-count{
			position: absolute;
			top: -8px;
			left: 50%;
			color: #fff;
			font-size: 11px;
			padding: 0 3px;
			min-width: 22px;
			font-weight: 500;
			text-align: center;
			line-height: 16px;
			border-radius: 11px;
			background: @brown;
			border: 3px solid #fff;
			box-sizing: border-box;
		}
	}

	&__login{
		svg{
			margin-bottom: 3px;
			width: 21px;
			height: 23px;
		}

		&-name{
			font-weight: 700;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 150px;
		}
	}
}