.example{
	padding: 65px 20px 45px 10px;

	&__title{
		font-size: 30px;
		line-height: 1.2;
		text-align: center;
		font-weight: 400;
		margin-bottom: 70px;

		span{
			font-weight: 600;
			color: #8f6f57;
		}
	}

	&__form{
		width: 360px;
		padding: 25px 45px 40px;
		float: right;
		box-shadow: -5px 10px 50px rgba(0, 0, 0, 0.15);
		border-bottom: 8px solid #8f6f57;
		box-sizing: border-box;
		background: #fff;

		&-info{
			font-size: 14px;
			line-height: 30px;
			letter-spacing: 0.02em;
		}
	}

	&__field{
		margin: 30px 0;
		font-family: 'Open Sans', sans-serif;
	}

	&__label{
		display: block;
		padding: 0 10px 5px;
		font-size: 15px;
		line-height: 25px;
	}

	&__input{
		border: none;
		border-bottom: 1px solid rgba(0, 0, 0, 0.5);
		font-size: 20px;
		line-height: 1.5;
		padding: 0 10px;
		font-family: 'GothamPro';
		outline: none !important;
		width: 100%;
		box-sizing: border-box;
	}

	&__button{
		border: none;
		background: #8f6f57;
		border-radius: 10px;
		line-height: 48px;
		color: #fff;
		font-family: 'GothamPro';
		font-size: 16px;
		width: 100%;
		outline: none !important;
		padding: 0;
	}

	&__wrapper{
		position: relative;
	}

	&__carousel{
		margin: 0;
		padding: 0;
		list-style: none;
		background: #f00;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 390px;
	}
}