{% set faq = [
	{
		"question": "Как правильно подключить лазерный станок?",
		"answer": "Лазерный станок необходимо подключать к розетке с заземлением. Если розетки не имеют заземляющих колодок или они не подключены к земле, то необходимо подключить дополнительный провод (обычно имеет желто-зеленый цвет) к заземлению. Его необходимо вывести на улицу, сделать заземляющий контур и подключиться к нему. О том, как его правильно сделать можно проконсультироваться у электрика, в учебнике или в сети Интернет. Также рекомендуется ставить УЗО."
	},
	{
		"question": "Что произойдет в случае включения лазерного станка в розетку без заземления?",
		"answer": "2Лазерный станок необходимо подключать к розетке с заземлением. Если розетки не имеют заземляющих колодок или они не подключены к земле, то необходимо подключить дополнительный провод (обычно имеет желто-зеленый цвет) к заземлению. Его необходимо вывести на улицу, сделать заземляющий контур и подключиться к нему. О том, как его правильно сделать можно проконсультироваться у электрика, в учебнике или в сети Интернет. Также рекомендуется ставить УЗО."
	},
	{
		"question": "В комплекте со станком не идет чиллер. В базовой комплектации есть только помпа. Как это влияет на работу?",
		"answer": "3Лазерный станок необходимо подключать к розетке с заземлением. Если розетки не имеют заземляющих колодок или они не подключены к земле, то необходимо подключить дополнительный провод (обычно имеет желто-зеленый цвет) к заземлению. Его необходимо вывести на улицу, сделать заземляющий контур и подключиться к нему. О том, как его правильно сделать можно проконсультироваться у электрика, в учебнике или в сети Интернет. Также рекомендуется ставить УЗО."
	},
	{
		"question": "Какие долги не спишутся?",
		"answer": "4Лазерный станок необходимо подключать к розетке с заземлением. Если розетки не имеют заземляющих колодок или они не подключены к земле, то необходимо подключить дополнительный провод (обычно имеет желто-зеленый цвет) к заземлению. Его необходимо вывести на улицу, сделать заземляющий контур и подключиться к нему. О том, как его правильно сделать можно проконсультироваться у электрика, в учебнике или в сети Интернет. Также рекомендуется ставить УЗО."
	},
	{
		"question": "Почему в дальних углах станок режет хуже, чем в начале координат?",
		"answer": "5Лазерный станок необходимо подключать к розетке с заземлением. Если розетки не имеют заземляющих колодок или они не подключены к земле, то необходимо подключить дополнительный провод (обычно имеет желто-зеленый цвет) к заземлению. Его необходимо вывести на улицу, сделать заземляющий контур и подключиться к нему. О том, как его правильно сделать можно проконсультироваться у электрика, в учебнике или в сети Интернет. Также рекомендуется ставить УЗО."
	},
	{
		"question": "Почему при лазерной резке линии получаются неровными/дребезжащими?",
		"answer": "6Лазерный станок необходимо подключать к розетке с заземлением. Если розетки не имеют заземляющих колодок или они не подключены к земле, то необходимо подключить дополнительный провод (обычно имеет желто-зеленый цвет) к заземлению. Его необходимо вывести на улицу, сделать заземляющий контур и подключиться к нему. О том, как его правильно сделать можно проконсультироваться у электрика, в учебнике или в сети Интернет. Также рекомендуется ставить УЗО."
	},
	{
		"question": "Насколько вредно смотреть на лазерный луч?",
		"answer": "7Лазерный станок необходимо подключать к розетке с заземлением. Если розетки не имеют заземляющих колодок или они не подключены к земле, то необходимо подключить дополнительный провод (обычно имеет желто-зеленый цвет) к заземлению. Его необходимо вывести на улицу, сделать заземляющий контур и подключиться к нему. О том, как его правильно сделать можно проконсультироваться у электрика, в учебнике или в сети Интернет. Также рекомендуется ставить УЗО."
	},
	{
		"question": "Какие материалы можно обрабатывать на лазерном станке?",
		"answer": "8Лазерный станок необходимо подключать к розетке с заземлением. Если розетки не имеют заземляющих колодок или они не подключены к земле, то необходимо подключить дополнительный провод (обычно имеет желто-зеленый цвет) к заземлению. Его необходимо вывести на улицу, сделать заземляющий контур и подключиться к нему. О том, как его правильно сделать можно проконсультироваться у электрика, в учебнике или в сети Интернет. Также рекомендуется ставить УЗО."
	},
	{
		"question": "Какая линза стоит на моем станке — длиннофокусная, короткофокусная?",
		"answer": "9Лазерный станок необходимо подключать к розетке с заземлением. Если розетки не имеют заземляющих колодок или они не подключены к земле, то необходимо подключить дополнительный провод (обычно имеет желто-зеленый цвет) к заземлению. Его необходимо вывести на улицу, сделать заземляющий контур и подключиться к нему. О том, как его правильно сделать можно проконсультироваться у электрика, в учебнике или в сети Интернет. Также рекомендуется ставить УЗО."
	},
	{
		"question": "Как уменьшить нагар на материалах?",
		"answer": "10Лазерный станок необходимо подключать к розетке с заземлением. Если розетки не имеют заземляющих колодок или они не подключены к земле, то необходимо подключить дополнительный провод (обычно имеет желто-зеленый цвет) к заземлению. Его необходимо вывести на улицу, сделать заземляющий контур и подключиться к нему. О том, как его правильно сделать можно проконсультироваться у электрика, в учебнике или в сети Интернет. Также рекомендуется ставить УЗО."
	}
]%}

<div class="faq">
	<div class="container">
		<div class="faq__wrapper">
			<div class="faq__info">
				<div class="faq__title">Часто задаваемые <strong class="extra">вопросы</strong></div>
				<div class="faq__description">Возможно у Вас появились вопросы, на которые мы уже ответили ниже.</div>
			</div>
			<ul class="faq__list">
				{% for item in faq %}
					<li class="faq__item {% if loop.first %}faq__item_active{% endif %}">
						<div class="faq__question">{{ item.question }}</div>
						<div class="faq__answer" {% if loop.first %}style="display:block;"{% endif %}>{{ item.answer }}</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>