{% set adv = [
	{
		"image": "calendar",
		"name": "14 лет",
		"text": "14-ти летний опыт успешной работы"
	},
	{
		"image": "installation",
		"name": "Более 200 установок",
		"text": "Более 200 проданных и смонтированных установок ГАР"
	},
	{
		"image": "storage",
		"name": "Крупнейший склад",
		"text": "Крупнейший склад запчастей для УГАР в России"
	},
	{
		"image": "sertificate",
		"name": "Сертифицированное оборудование",
		"text": "Сертифицированное оборудование, запчасти, услуги"
	},
	{
		"image": "dealer",
		"name": "Официальный дилер",
		"text": "Являемся официальным дилером PTV, spol. s r.o. и Unimash"
	},
	{
		"image": "support",
		"name": "Техническая поддержка",
		"text": "Квалифицированная техническая поддержка и сервисное обслуживани"
	}
]%}

<div class="advantages">
	<div class="container">
		<div class="advantages__title"><strong>Преимущества</strong> компании</div>
		<ul class="advantages__list">
			{% for item in adv %}
				<li class="advantages__item advantages__item_position_{% if loop.index < 4 %}top{% else %}bottom{% endif %}">
					<div class="advantages__image">
						<svg class="advantages__img advantages__img_type_{{ item.image }}"><use xlink:href="#{{ item.image }}" /></svg>
					</div>
					<div class="advantages__name">{{ item.name }}</div>
					<div class="advantages__text">{{ item.text }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>