
{% extends "base/base.html" %}

{% block title %}Главная{% endblock %}

{% block innerClass %}main{% endblock %}

{% block content %}
	{% include 'category/category.html' %}
	{% include 'numbers/numbers.html' %}
	{% include 'discount/discount.html' %}
	{% include 'advantages/advantages.html' %}
	{% include 'popular/popular.html' %}
	{% include 'projects/projects.html' %}
	{% include 'question/question.html' %}
	{% include 'review/review.html' %}
	{% include 'team/team.html' %}
	{% include 'certificates/certificates.html' %}
    {% include 'faq/faq.html' %}
    {% include 'partners/partners.html' %}
    {% include 'maintext/maintext.html' %}
    {% include 'map/map.html' %}
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
{% endblock %}